.header {
    color: #fff;
    background-color: #259c96e8;
    position: fixed;
    width: 100%;
    z-index: 2;

    @media(max-width:1150px){
        padding: 0 20px;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        text-decoration: none;
        font-size: 35px;
        display: inline-block;
        color: #fff;

        @media(max-width:700px){
            font-size: 30px;
        }
    }

    .sandwich-menu {
        font-size: 30px;
        color: #fff;

        @media(max-width:700px){
            font-size: 25px;
        }
    }

    
}
