.technology {
    background-color: #2c2c2c;

    .container {
        display: flex;
        justify-content: space-between;
        color: #fff;
    }

    .textArea {
        max-width: 65%;
    }

    .iconHolder {
        max-width: 49%;
        display: flex;
        flex-wrap: wrap;

        .icons {
            width: 70%;
            margin: 0 auto;
        }

        .icon {
            width: 90px;
            height: 90px;
            margin-right: 30px;
        }
    }
}
